html
  head
    style
      include formPassword.css
    title смена пароля
  body
    div(id='myModal' class='modal')
        div(class='modal-content')
            span(class='close') &times;
            p(class='message')

    main
        h2 смена пароля
        div
            form(name='my')
                label(
                    for='password'
                ) введите пароль
                input(
                    type='text'
                    id='password'
                    name='password'
                    placeholder='введите новый пароль'
                )
                label(
                    for='repeatPassword'
                ) повторите пароль
                input(
                    type='text'
                    id='repeatPassword'
                    name='repeatPassword'
                    placeholder='повторите пароль'
                )
                input(
                    type='submit'
                    value='сменить пароль'
                )

    script.
        const data = !{jsStringify(data)};
    script
        include test.js
        